public/posts/Useless-facts.json
{
  "name": "Useless facts",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        48
      ],
      "id": "1e5ca298-26ce-4e68-ba56-1aff8d862025",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://uselessfacts.jsph.pl/api/v2/facts/random",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        128,
        48
      ],
      "id": "b23cdda3-a631-43c3-b279-02b1bd17768b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.text }} ",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        336,
        48
      ],
      "id": "ae1a36c0-efc1-400b-b1ba-cc0fbbaa91e7",
      "name": "Discord",
      "webhookId": "73ebb749-4633-46d4-a53c-e013ac0eb597",
      "credentials": {
        "discordWebhookApi": {
          "id": "Hxd1GTLzJJCodwlH",
          "name": "Discord Webhook account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "daad268f-0eba-4938-8c2e-436891ec557a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d93a04ba9d2df1787e7656756b3f31656d2b15dd71394007e69d4b18f38f057b"
  },
  "id": "8FWXefDXjZ5oj61l",
  "tags": []
}